<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Module Evaluation_2</title>
</head>
<body>
{% if books %}
    <h2>List of BooKs</h2>
    <table>
        <thead>
        <tr>
            <th>Id</th>
            <th>Title</th>
            <th>Author</th>
            <th>Year of Publication</th>
        </tr>
        </thead>
        <tbody>
            {% for book in books %}
            <tr>
                <td>{{ book.id }}</td>
                <td>{{ book.title }}</td>
                <td>{{ book.author }}</td>
                <td>{{ book.publication_year }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>No books available</p>
{% endif %}
</body>
</html>







